<h3>Since 1903, Ford Motor Company has put the world on wheels.</h3>
<p>Here are few popular models of Ford.<p>

<form action="/models" method="get">
  <label for="models">Select a Model:</label> 
  
  <select name="models" id="models">
    <option value="expedition">Expedition</option>
    <option value="escape">Escape</option>
    <option value="explorer">Explorer</option>
    <option value="ecosport">EcoSport</option>
    <option value="mustang">Mustang</option>
    <option value="bronco_sport">Bronco Sport</option>
    <option value="focus">Focus</option>
    <option value="maverick">Maverick</option>
    <option value="ranger_raptor">Ranger Raptor</option>
  </select>

  <button>View</button>
</form>
