<!DOCTYPE html>
<html>
  <head>
    <title>About Ford</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <img src="/thumbnails/Logo.png" alt="Logo" width="250"/>
    <%= yield %>
  </body>
</html>
